@import "@assets/imports";

.import_wizard {
  margin: 0 auto;
  // for scrolling .scroll_to_wizard_bottom
  // mainly for circumventing iOS's action bar
  margin-bottom: 3rem;
  max-width: 991px;

  .wizardhat_wrapper {
    text-align: center;

    .wizardhat_svg {
      color: @purple;
      height: 15rem;
      padding: 1rem;
    }
  }

  .welcome_message,
  .import_wizard_message {
    .emphasis {
      font-weight: 700;
    }
  }

  .continue_button_wrapper {
    display: flex;

    .arrowright_svg {
      margin-left: 0.5rem;
      height: 1rem;
      width: 1rem;
    }
  }
}
