@darkGray: #282a36;
@gray: lighten(@darkGray, 5%);
@lightGray: lighten(@darkGray, 10%);

@blue: #6272a4;

@cyan: #8be9fd;

@green: #50fa7b;


@pink: #ff79c6;

@purple: #bd93f9;

@red: #ff5555;

@white: #f8f8f2;

@yellow: #f1fa8c;

@background: @darkGray;
@textPrimary: @white;

@buttonPrimary: @blue;
