@import "./colors";
@import "./variables";

.link() {
  color: @purple;
  text-decoration: none;
  outline: 0;

  &:focus,
  &:hover {
    animation: @party_animation;
    text-decoration: underline;
  }
}

.button(
  @background_color, @hover_color
) {
  background-color: @background_color;
  border: none;
  border-radius: 1rem;
  color: @textPrimary;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.5rem 1rem;
  position: relative;
  outline: 0;
  overflow: hidden;
  transition: 0.1s ease-in;

  &:focus,
  &:hover {
    background-color: @hover_color;
  }

  &[disabled],
  &[disabled]:visited,
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    opacity: 0.4;
    box-shadow: none;
    filter: none;
    pointer-events: none;
    cursor: default;
  }
}

.primary_button(@button_color) {
  .button(@button_color, @button_color);

  // how does this work ?? only amy knows
  z-index: 0;

  &:before {
    background-color: darken(@button_color, 10%);
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    transition: all 0.3s;
    border-radius: 1rem;
    width: 0%;
    z-index: -1;
  }

  &:focus,
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

// https://gist.github.com/MoOx/9137295
.reset_button() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.main_title() {
  font-family: @main_title_font_family;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.5px;

  @media @phonesAndTablet {
    font-size: 1.5rem;
  }
}

.fancy_text() {
  font-family: @fancy_font_family;
  letter-spacing: 1px;
}

.bullet_point_icon() {
  align-items: center;
  color: @green;
  display: inline-flex;
  height: 1rem;
  justify-content: center;
  margin-right: 0.1rem;
  position: relative;
  vertical-align: text-top;
  // odd number seems to center the defense letters better
  width: 1.1rem;
}

// creates a sketchy border look
.box_border(
  @border_color
) {
  border: 3px solid @border_color;
  border-radius: 2% 6% 5% 4% e("/") 1% 1% 2% 4%;
  position: relative;

  &::before {
    border: 2px solid darken(@border_color, 10%);
    border-radius: 1% 1% 2% 4% e("/") 2% 6% 5% 4%;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(1.015) rotate(0.5deg);
    width: 100%;
  }
}

.primary_box_border() {
  .box_border(@white);
}

// creates a sketchy underline look
.bottom_border(
  @border_color
) {
  margin-bottom: 0.5rem;
  padding-bottom: 0.3rem;
  position: relative;

  &::before {
    border-bottom: 2px solid @border_color;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleX(@scaleX_border) rotate(@before_border_deg);
    transform-origin: 0% 50%;
    width: 100%;
  }

  &::after {
    border-bottom: 2px solid @border_color;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleX(@scaleX_border) rotate(@after_border_deg);
    transform-origin: 100% 50%;
    width: 100%;
  }
}

.primary_bottom_border() {
  .bottom_border(@white);
}

.invisible_nav_bottom_border() {
  .bottom_border(@background);
}

.add_hover_nav_bottom_border_animation() {
  &::before {
    animation: ease-in-out sketch_border_before 250ms;
    animation-fill-mode: forwards;
    border-bottom: 2px solid @lightGray;
  }

  &::after {
    animation: ease-in-out sketch_border_after 250ms;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
    border-bottom: 2px solid @lightGray;
  }
}

.nav_button() {
  .reset_button();

  cursor: pointer;
  outline: 0;
  padding: 0.5rem;
  width: 100%;

  .button_text {
    .fancy_text();
    .invisible_nav_bottom_border();

    display: inline-block;
    font-size: 1.4rem;
  }

  &:focus,
  &:hover {
    background-color: @lightGray;
  }

  &.inactive {
    &:focus,
    &:hover {
      .button_text {
        .add_hover_nav_bottom_border_animation();
      }
    }
  }

  &.active {
    background-color: @lightGray;

    .button_text {
      .primary_bottom_border();
    }
  }
}

.nav_cta_button() {
  .reset_button();

  background-color: @veryFadedPurple;
  cursor: pointer;
  outline: 0;
  padding: 1rem 0;
  width: 100%;

  &:active,
  &:focus,
  &:hover {
    background-color: @fadedPurple;
  }
}

.visually_hidden() {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.blinking_dot(@color) {
  background: @color;
  border-radius: 50%;
  display: inline-block;
  height: 1rem;
  margin-right: 0.2rem;
  opacity: 0.5;
  width: 1rem;

  &:last-child {
    margin-right: 0;
  }

  &:nth-of-type(1) {
    animation: 1s blinking infinite;
  }

  &:nth-of-type(2) {
    animation: 1s blinking infinite 0.3333s;
  }

  &:nth-of-type(3) {
    animation: 1s blinking infinite 0.6666s;
  }
}

.score {
  color: @cyan;
  font-weight: 700;
}
