@import "./colors";

@keyframes party {
  0% { color: @purple; }
  12.5% { color: @blue; }
  25% { color: @cyan; }
  37.5% { color: @green; }
  50% { color: @yellow; }
  62.5% { color: @orange; }
  75% { color: @red; }
  87.5% { color: @pink; }
  100% { color: @white; }
}

@party_animation: linear party 1s infinite;

@main_title_font_family: "Grange", sans-serif;

@fancy_font_family: "RiseOfKingdom", sans-serif;

@before_border_deg: 2deg;
@after_border_deg: -2deg;
@scaleX_border: 1.015;

@keyframes sketch_border_before {
  0% {
    border-bottom: 2px solid @white;
    transform: scaleX(0) rotate(@before_border_deg);
  }
  100% {
    border-bottom: 2px solid @white;
    transform: scaleX(@scaleX_border) rotate(@before_border_deg);
  }
}

@keyframes sketch_border_after {
  0% {
    border-bottom: 2px solid @white;
    transform: scaleX(0) rotate(@after_border_deg);
  }
  100% {
    border-bottom: 2px solid @white;
    transform: scaleX(@scaleX_border) rotate(@after_border_deg);
  }
}

@keyframes blinking {
  12.5% {
    opacity: 0.625;
  }
  25% {
    opacity: 0.75;
  }
  37.5% {
    opacity: 0.625;
  }
  50% {
    opacity: 0.5;
  }
  62.5% {
    opacity: 0.375;
  }
  75% {
    opacity: 0.25;
  }
  87.5% {
    opacity: 0.375;
  }
}
