@import "@assets/imports";

.current_campaign {
  // scrollbars are about 17.2 pixels apparently
  // add horizontal padding probably greater than that so content doesn't shift when they're removed for a modal-like ui
  // update: unsure if this works anymore (delete campaign modal) but whatever
  padding: 0 1.5rem 1rem;
  width: 100%;

  .title_container {
    // match .site_header
    text-align: center;

    .dndbeyond_link {
      .link();

      display: inline-block;
      font-weight: 700;
      max-width: 100%;
      position: relative;

      .externallink_svg {
        height: 1rem;
        position: absolute;
        right: 0.5rem;
        top: 0.25rem;
        width: 1rem;
      }

      .title {
        font-size: 1.5rem;
        padding-right: 2rem;
      }
    }

    .no_link_title {
      .main_title();

      display: inline-block;
      font-size: 1.5rem;
      padding-right: 0.5rem;
    }

    .delete_button {
      .reset_button();

      color: @red;
      cursor: pointer;
      height: 1rem;
      outline: 0;
      width: 1rem;

      &:active,
      &:focus,
      &:hover {
        color: @darkRed;
      }

      .delete_button_text {
        .visually_hidden();
      }

      .skull_svg {
        color: inherit;
        height: 100%;
        width: 100%;
      }
    }
  }

  .empty_campaign {
    margin: 0 auto;
    max-width: 20rem;
    padding: 1rem;

    .icon_wrapper {
      margin-bottom: 1rem;
      text-align: center;

      .skull_svg {
        color: @red;
        height: 15rem;
        max-width: 100%;
      }

      .wizardhat_svg {
        color: @purple;
        height: 15rem;
        max-width: 100%;
      }
    }

    .emphasis {
      font-weight: 700;
    }
  }

  .last_update_text {
    // position it directly underneath link tooltip
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .character_list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    max-width: 100%;
    width: 100%;
  }
}

@media @tablet {
  .current_campaign {
    .character_list {
      // 480px starts to become too big here
      grid-template-columns: repeat(auto-fill, minmax(22.5rem, 1fr));
    }
  }
}

@media @phonesAndTabletSmall {
  .current_campaign {
    padding: 0 1rem 1rem;
  }
}

@media @phones {
  .current_campaign {
    padding: 0.2rem;

    .character_list {
      // not really supported, but once we go to really small widths, just take up the space
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }
}
