@import "@assets/imports";

.wizard_message {
  align-items: flex-end;
  // color: black;
  display: flex;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;

  .wand_wrapper {
    align-items: center;
    background: @indigo;
    border-radius: 0.2rem;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    margin-right: 0.5rem;
    min-width: 2.5rem;

    .wand_svg {
      color: @indigo;
      height: 2rem;
    }
  }

  .message {
    align-items: center;
    background: @indigo;
    border-left: 6px solid @lightIndigo;
    border-radius: 0.2rem;
    display: flex;
    min-height: 2.5rem;
    padding: 0.5rem 1rem;
  }
}
